.jcem-admin-ui-table tr {
	vertical-align: top;
}

.jcem-admin-ui-field,
.jcem-admin-ui-table {
	max-width: 100%;
}

.jcem-admin-ui-table {
	flex-grow: 1;
}

textarea.jcem-admin-ui-field {
	min-height: 150px;
}

.jcem-admin-ui-table td:first-child:not(.jcem-admin-ui-single-cell) {
	white-space: nowrap;
	padding-right: 20px;
}

.jcem-admin-ui-table td:last-child {
	width: 100%;
}

.jcem-admin-ui-table td:last-child>div {
	display: flex;
	flex-direction: column;
	position: relative;
}

.jcem-admin-ui-charcounter {
	position: absolute;
	right: 10px;
	top: 5px;
}

.jcem-admin-ui-table td {
	padding-bottom: 10px;
	padding-top: 10px;
}

.jcem-admin-ui-groups {
	padding: 20px;
	border: 1px solid #ccc;
	border-top: none;
}

.jcem-admin-ui-group {
	display: none;
}

.jcem-admin-ui-groupfield {
	padding: 10px;
	border: 1px solid #555;
	border-radius: 5px;
}

.jcem-admin-ui-fieldlabel,
.jcem-admin-ui-groupfield>legend {
	font-weight: bold;
}

.jcem-admin-ui-group.jcem-admin-ui-group-active,
.jcem-admin-ui-groupfield {
	display: flex;
}

.jcem-admin-ui-tabs {
	background-color: #e5e5e5;
	border: 1px solid #ccc;
	border-bottom: none;
	margin: 0;
	padding-top: 10px;
}

.jcem-admin-ui-tab {
	-webkit-box-shadow: inset 0px -5px 7px -9px #000000;
	box-shadow: inset 0px -5px 7px -9px #000000;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: 0.5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
}

.jcem-admin-ui-tab-active {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
	color: #000;
	outline: none;
}

.jcem-admin-ui-img {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	color: #555;
}

.jcem-admin-ui-table td:last-child>div.jcem-admin-ui-errormsg {
	background-color: #FFC0BE;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	/* color: #FFF; */
	border-left: 5px solid #FF0000;
	border-radius: 5px;
}

.jcem-admin-ui-table td:last-child>input.jcem-admin-ui-field:not(input[type=radio], input[type=select], input[type=checkbox]) {
	width: 100%;
}